<div id="title" class="container py-5 text-center" width="100%">
  <p class="bg-transparent text-white text-center h3" >Formulario Para La Compra De Productos</p>
</div>
<div class="w-100 " id="encabezado">
  <img class="uk-transition-scale-up uk-transition-opaque card-img-top"
    src="https://i.pinimg.com/originals/e8/65/4b/e8654b7297ef95e4b5dbc3bdf74dc079.jpg" width="100%" height="120" alt="">
</div>
<br>
<div class="container" role="document">
  <div class="d-flex justify-content-center align-items-center">
    <p class="h3 text-center d-inline-block">{{nombreProducto}}</p>&nbsp;&nbsp;
    <button class="btn btn-outline-info" title="ver informacion del producto a comprar" data-toggle="modal"
    data-target="#modalDetalles"> <i class="fa fa-info"></i></button>
  </div><br>
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Apellido Paterno:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="apellidPt" value="" placeholder="apellido paterno">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-right" ><i
                    class="far fa-user"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail4">Apellido Materno:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="apellidMt" value="" placeholder="apellido materno">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-right"><i
                    class="far fa-user"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="inputEmail5">Nombres:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="nombreUsuario" value="" placeholder="nombres">
                <span class="input-group-text rounded-right"><i
                    class="far fa-user"></i></span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Precio Del Poducto</label>
            <div class="input-group">
                <input class="form-control bg-white" formControlName='precio' readonly value="{{precioProducto}}">
                <span class="btn disabled"
                style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-money-bill"></i></span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Numero De Tarjeta De Credito</label>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="numero de tageta de credito" id="targetaC">
              <span class="btn disabled"
                style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-credit-card"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between align-items-end">
            <label for="requisitos">Anadir Productos Al Carrito</label>
            <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#aniadirCompra">
              <i class="fa fa-plus"></i> Añadir
            </button>
          </div>
          <div class="table-responsive mt-3">
            <table class="table align-middle table-hover table-bordered" id="requerimientos">
              <thead class="thead-dark">
                <tr>
                  <th class="text-center" scope="col">Cantidad</th>
                  <th class="text-center" scope="col">Color</th>
                  <th class="text-center" scope="col">Precio</th>
                  <th class="text-center" scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let productos of listaProducto; index as i">
                  <td>{{productos.getCantidad()}} </td>
                  <td>{{productos.getColor()}}</td>
                  <td>{{productos.getPrecio()}}bs </td>
                  <td class="text-center">
                    <div class="btn btn-group" role="group">
                      <button class="btn btn-outline-danger" type="button" title="borrar producto del carrito"
                        (click)="eliminarProducto(productos)">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Cantidad Total De Productos</label>
            <div class="input-group">
              <input class="form-control bg-white" formControlName='precio' readonly value="{{cantidadTotal}}" >
              <span class="btn disabled"
                style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-sort-numeric-up"></i></span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputpwd2">Precio Total De Compra</label>
            <div class="input-group">
              <input class="form-control bg-white" formControlName='precio' readonly value="{{precioTotal}}">
              <span class="btn disabled"
                style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;">
                <i class="fa fa-money-bill"></i></span>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" routerLink="home" >Cancelar Compra</button>
          <button type="button" class="btn btn-primary" (click)="validadCampos()">Comprar&nbsp; <i
              class="fa fa-shopping-cart"></i></button>
        </div>
      </form>
    </div>
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="aniadirCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputEmail4">Cantidad De Productos:</label>
          <div class="input-group">
            <input type="number" class="form-control" id="cantidad">
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right" id="validatedInputGroupPrependc"><i
                  class="far fa-user"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail4">Color De Productos:</label>
          <select class="custom-select" id="color">
            <option selected>Seleccione Color</option>
            <option value="Rojo">Rojo</option>
            <option value="Verde">Verde</option>
            <option value="Amarillo">Amarillo</option>
            <option value="Azul">Azul</option>
            <option value="Blanco">Blanco</option>
          </select>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="aniadirCarrito()">Aniadir Al
          Carrito</button>
      </div>
    </div>
  </div>
</div>


<!--  modal para ver detalles del producto a comprar-->
<!-- Modal Detalle Pintura-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger text-center  w-100" id="exampleModalLabel">{{nombreProducto}}&nbsp;&nbsp;{{precioProducto}} bs.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="uk-transition-scale-up uk-transition-opaque card-img-top" [src]="imagen" alt="">
        <br>
        <p id="informacion">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsa quo eius reprehenderit magni fugit sed atque suscipit vero hic. Vel, vitae nostrum laboriosam natus cum quisquam officia recusandae sapiente.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
