<div id="title" class="container py-5 text-center" width="100%">
    <p class="bg-transparent text-white text-center h3">{{titulo | uppercase}}</p>
</div>
<div class="w-100 " id="encabezado">
    <img class="uk-transition-scale-up uk-transition-opaque card-img-top" src="https://i.pinimg.com/originals/e8/65/4b/e8654b7297ef95e4b5dbc3bdf74dc079.jpg" width="100%" height="120" alt="">
</div>
<!--   -->
<div class="container">
    <ng-container *ngIf="productosEnGneral()">
        <div class="m-auto w-80">
            <div class="container text-center  bg-light">
                <div class="row p-4">
                    <ng-container *ngFor="let producto of listaDeProductos">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card mt-4  text-centeruk-transition-scale-up uk-transition-opaque uk-transition-toggle card_pintura">
                                <div class="card-body text-center  uk-transition-toggle" tabindex="0">
                                    <h5 class="card-title text-primary text"><strong>{{producto.getTipo()}}</strong> </h5>
                                    <img class="uk-transition-scale-up uk-transition-opaque card-img-top" src="{{producto.getImagen()}}" width="300" height="200" alt="">
                                    <p class="card-text">{{producto.getNombre()}}&nbsp; {{producto.getPrecio()}}bs.</p>
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="col-6" href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalDetalles" (click)="setProducto(producto)"><strong>Detalles </strong></button>
                                    <button class="col-6" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalCompraP" (click)="setImagen(producto)">
                    <strong>Comprar </strong>
                  </button>
                                </div>
                                <button class="col-12" href="#" class="btn btn-outline-primary" (click)="redireccion(producto)"><strong>Ver
                    Productos </strong></button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!productosEnGneral()">
        <div class="m-auto w-80">
            <div class="container text-center  bg-light">
                <div class="row p-4">
                    <ng-container *ngFor="let producto of listaDeProductos">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card mt-4  text-centeruk-transition-scale-up uk-transition-opaque uk-transition-toggle card_pintura">
                                <div class="card-body text-center  uk-transition-toggle" tabindex="0">
                                    <h5 class="card-title text-primary text"><strong>{{producto.getNombre()}} &nbsp;{{producto.getPrecio()}}bs.</strong> </h5>
                                    <img class="uk-transition-scale-up uk-transition-opaque card-img-top" src="{{producto.getImagen()}}" width="300" height="200" alt="">
                                </div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="col-6" href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalDetalles" (click)="setProducto(producto)"><strong>Detalles </strong></button>
                                    <button class="col-6" class="btn btn-outline-primary" (click)="setImagen(producto)">
                    <strong>Comprar </strong>
                  </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="invisible">
        ipsum aut fugiat, ad neque alias tempore, explicabo id enim commodi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ut quam eaque, explicabo nam molestias, quaerat soluta ipsa nostrum iure repellat. Illo eaque molestias temporibus! Dolores
        ipsum aut fugiat, ad neque alias tempore, explicabo id enim commodi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ut quam eaque, explicabo nam molestias, quaerat soluta ipsa nostrum iure repellat. Illo eaque molestias temporibus!
        Dolores hic quae suscipit vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, tempore excepturi. Voluptatibus praesentium sapiente fugit, omnis deserunt unde amet, quos sit, ab illo architecto ex. Voluptatum error repudiandae illum
        ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus soluta debitis dicta porro provident, a laborum itaque reprehenderit ipsum aut fugiat, ad neque alias tempore, explicabo id enim commodi. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Quae ut quam eaque, explicabo nam molestias, quaerat soluta ipsa nostrum iure repellat. Illo eaque molestias temporibus! Dolores hic quae suscipit vel? hic quae suscipit vel? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Cum, tempore excepturi. Voluptatibus praesentium sapiente fugit, omnis deserunt unde amet, quos sit, ab illo architecto ex. Voluptatum error repudiandae illum ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
        voluptatibus soluta debitis dicta porro provident, a laborum itaque reprehenderit ipsum aut fugiat, ad neque alias tempore, explicabo id enim commodi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ut quam eaque, explicabo nam
        molestias, quaerat soluta ipsa nostrum iure repellat. Illo eaque molestias temporibus! Dolores hic quae suscipit vel?
    </div>
</div>


<!-- Modal Detalle Pintura-->
<div class="modal fade" id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger text-center  w-100" id="exampleModalLabel">{{producto.getNombre()}}&nbsp;&nbsp;{{producto.getPrecio()}}bs.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <img class="uk-transition-scale-up uk-transition-opaque card-img-top" [src]="producto.getImagen()" alt="">
                <br>
                <p id="informacion" class={{producto.getNombre()}}>
                    {{producto.getdescripcion()}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>