<nav class="navbar navbar-light navbar-expand-xl  bg-custom-2">
    <div class="container justify-content-between">
        <!--<div class="navbar-brand">
        <img src="../../../assets/images/logo/logo.png" width="80" height="80" alt="">
      </div>-->
        <div class="navbar-brand">
            <h3 class="text-light font-italic Italica"><strong>Pintando La Vida</strong> </h3>
        </div>
        <button class="navbar-toggler btn-outline-light" data-toggle="collapse" data-target="#menu" aria-expanded="false" id="amburguesa">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item"><a routerLink="home" (click)="precionar_amburguesa()" class="nav-link text-light" title="ir al inicio de la pagina">Inicio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" routerLinkActive="router-link-active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="ver los tipos de pinturas disponibles">
            Productos
          </a>
                    <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="todos_los_productos" (click)="precionar_amburguesa()">Todos Los
              Productos</a>
                        <a class="dropdown-item" routerLink="/pinturas_anticorrosivas" (click)="precionar_amburguesa()">Pinturas
              Anticorrosivas</a>
                        <a class="dropdown-item" routerLink="/pinturas_automotivas" (click)="precionar_amburguesa()">Pinturas
              Automotivas</a>
                        <a class="dropdown-item" routerLink="/pinturas_base_agua" (click)="precionar_amburguesa()">Pinturas Base
              Agua</a>
                        <a class="dropdown-item" routerLink="/pinturas_base_solvente" (click)="precionar_amburguesa()">Pinturas Base
              Solvente</a>
                        <a class="dropdown-item" routerLink="/pinturas_impermeabilizante" (click)="precionar_amburguesa()">Pinturas
              Impermeabilizantes</a>
                        <a class="dropdown-item" routerLink="/pinturas_para_madera" (click)="precionar_amburguesa()">Pinturas Para
              Madera</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="ver las pinturas en promocion">
            Promociones
          </a>
                    <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="combos" (click)="precionar_amburguesa()" title="ver los combos disponibles">Combos</a>
                        <a class="dropdown-item" routerLink="pinturas_en_promocion" (click)="precionar_amburguesa()" title="ver las pinturas en descuento">Pinturas En Descuento</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" routerLinkActive="router-link-active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="ver catalogos de los productos">
            Catalogos
          </a>
                    <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink="catalogo_anticorrosivas" (click)="precionar_amburguesa()">Pinturas
              Anticorrosivas</a>
                        <a class="dropdown-item" routerLink="catalogo_automotivas" (click)="precionar_amburguesa()">Pinturas
              Automotivas</a>
                        <a class="dropdown-item" routerLink="catalogo_impermeabilizante" (click)="precionar_amburguesa()">Pinturas
              Impermeabilizantes</a>
                        <a class="dropdown-item" routerLink="catalogo_madera" (click)="precionar_amburguesa()">Pinturas Para
              Madera</a>
                    </div>
                </li>
                <li>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="nombre de producto" aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <button class="input-group-text" id="basic-addon1"><i class="fa fa-search bg-light text-dark"
                    title="buscar pintura">Buscar</i></button>
                            </div>
                        </div>
                    </form>
                </li>
                <ng-container *ngIf="getUsuarioSesion()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" routerLinkActive="router-link-active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="opciones de usuario">
                            <i class="fa fa-user" aria-hidden="true"></i> {{usuario}}
                        </a>
                        <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="precionar_amburguesa()">Historial
                De Compras</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">Historial De
                Cotizasiones</a>
                            <a class="dropdown-item" (click)="cerrarSesion(); precionar_amburguesa()">Cerrar
                Sesion</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" routerLinkActive="router-link-active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="opciones de usuario">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>Ayuda
                        </a>
                        <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="precionar_amburguesa()"> ver guia de la pagina</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">como comprar productos</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">como elegir color de pintura deseada</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">consulta problema</a>
                        </div>
                    </li>
                </ng-container>
                <ng-container *ngIf="!getUsuarioSesion()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" routerLinkActive="router-link-active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="opciones de usuario">
              opciones
            </a>
                        <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" routerLink="formulario_registro" (click)="precionar_amburguesa()">Registrarme</a>
                            <a class="dropdown-item" routerLink="formulario_inicio_sesion" (click)="precionar_amburguesa()">Iniciar
                Sesion</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" routerLinkActive="router-link-active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="opciones de usuario">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>Ayuda
                        </a>
                        <div class="dropdown-menu dropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="precionar_amburguesa()"> ver guia de la pagina</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">como comprar productos</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">como elegir color de pintura deseada</a>
                            <a class="dropdown-item" (click)="precionar_amburguesa()">consulta problema</a>

                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>