<br><br><br><br><br><br><br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Iniciar Sesion</h4>
      <div class="w-100">
        <hr class="border border-light bg-secondary">
      </div>
      <form class="form p-t-20">
        <div class="form-group">
          <label for="exampleInputpwd2">Nombre</label>
          <div class="input-group">
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese sus nombres">
            <span class="btn disabled"
              style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;"><i
                class="far fa-user"></i></span>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputpwd2">Contrasena</label>
          <div class="input-group">
            <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Ingrese sus nombres">
            <span class="btn disabled"
              style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;"><i
                class="far fa-check"></i></span>
          </div>
        </div>
        <div class="d-flex align-content-between justify-content-between">
          <button  (click)="redireccion()" routerLink="home" class="btn btn-outline-primary waves-effect waves-light m-r-10">Ingresar</button>
          <button type="submit" class="btn  btn-outline-danger btn-inverse waves-effect waves-light">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="invisible">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus in voluptatum, blanditiis numquam magnam,
    deleniti amet ad aut sit veniam voluptas corrupti? Repudiandae minima, esse tempore expedita debitis autem
    mollitia!
  </div>
  <div class="invisible">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus in voluptatum, blanditiis numquam magnam,
    deleniti amet ad aut sit veniam voluptas corrupti? Repudiandae minima, esse tempore expedita debitis autem
    mollitiadddddddddddddddddddddddddddddddsshjhhhhddddddddddd!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea dignissimos, adipisci fugit quaerat facilis unde deserunt dolore distinctio earum beatae consequatur. Porro perferendis rerum suscipit quam incidunt, tempora dolores velit.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ad dolorum ab, dolor amet ipsum? Labore velit ipsum eum nemo, natus quaerat reprehenderit. Neque reiciendis nisi delectus! Fuga, cum impedit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptatibus cumque quasi et! Laudantium illum tempore iure dolorum. Dolor id asperiores voluptatem excepturi eos. Earum quaerat voluptatibus totam non nostrum!
    
  </div> 
</div>
