<footer class="footer-distributed">
    <div class="footer-right">
        <a class="mr-1" href="#"><i class="fab fa-facebook"></i></a>
        <a class="mr-1" href="#"><i class="fab fa-twitter"></i></a>
        <a class="mr-1" href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">

            <a class="mr-3" href="#">Acerca de</a>

            <a class="mr-3" href="#">Nosotros</a>

            <a class="mr-3" href="#">Contactos</a>
        </p>
        <p>Pintando La Vida &copy; 2020</p>
    </div>
</footer>